<body>
    <div class="container">
    <header>
        <img src="/Images/logo.png" alt="Techblog" title="Tech blog" class="logo">
        <h1>TECH BLOG</h1>   
    </header>
    </div>
 <div>
    <nav class="top_menu">
       <a href="/dashboard">Dashboard</a>
       <a href="/addpages">Add Pages</a>
       <a href="/pageslist">Edit Pages</a>
       <a href="/logout">Log Out</a>
    </nav>
 </div>