<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<body>
    <div class="container">
        <img class="about-img" src="../public/images/technology-and-us-scaled.jpg" alt="Image">
        <main class="about-main">
            <h1>About Us</h1>
            <p>Welcome to Tech Blog, your go-to destination for all things tech! We are a passionate team of tech enthusiasts dedicated to bringing you the latest news, insights, reviews, and tutorials from the ever-evolving world of technology.</p>
            <p>We are passionate about technology and strive to provide you with informative and engaging content that covers various topics in the tech industry.
            We're dedicated to bringing you the latest tech news, insights, reviews, and tutorials. Our mission is to empower you with knowledge and resources to navigate the digital world. Join us as we explore the endless possibilities of technology together!
            </p>   
        </main>
    </div>
</body>

<%- include('layouts/footer'); -%>
